services:
  us-52w-hl-stock:
    build:
      context: ./us
    image: us-52w-hl-stock:latest
    container_name: us-52w-hl-stock
    env_file:
      - ./us/.env
    volumes:
      - ./utils:/app/utils  # utils 디렉터리를 컨테이너에 마운트
    working_dir: /app
    command: ["tail", "-f", "/dev/null"]
    restart: unless-stopped

  jp-52w-hl-stock:
    build:
      context: ./jp
    image: jp-52w-hl-stock:latest
    container_name: jp-52w-hl-stock
    env_file:
      - ./jp/.env
    volumes:
      - ./utils:/app/utils  # utils 디렉터리를 컨테이너에 마운트
    working_dir: /app
    command: ["tail", "-f", "/dev/null"]
    restart: unless-stopped
    
  selenium:
    image: seleniarm/standalone-chromium:latest
    container_name: selenium
    shm_size: '512m'
    ports:
      - "4444:4444"
      - "7900:7900"
    restart: unless-stopped
    networks:
      - my_network
  fear_and_greed:
    build:
      context: ./fear_and_greed
    container_name: fear_and_greed
    env_file:
      - ./fear_and_greed/.env
    volumes:
      - ./utils:/app/utils  # utils 디렉터리를 컨테이너에 마운트
    working_dir: /app
    command: ["python3", "app.py"]
    restart: no
    environment:
      - MODE=deploy
    depends_on:
      - selenium
    networks:
      - my_network

networks:
  my_network:
    driver: bridge